body {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 900;
    text-align: center;
    margin-bottom: 20px;
}

.page {
    width: 90%;
    max-width: 1200px;
    background-color: white;
    margin: 40px auto;  /* Center page and add space from the top */
    padding: 50px;
    padding-top: 35px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);  /* Subtle shadow for depth */
    border-radius: 8px;  /* Smooth corners */
}

.vis-container {
    width: 100%;
    margin: 30px auto;  /* Add spacing between charts */
    padding: 0;  /* Remove padding */
    border-radius: 0;  /* Remove rounded edges */
    box-shadow: none;  /* Remove shadow */
    background-color: transparent;  /* Remove background color */
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

/* Spacing between elements in pure-g container */
.pure-g {
    margin-bottom: 40px;
}

/* Small text font styling */
.small-font {
    font-size: 14px;
}