body {
    background-color: #FFF9E6; /* Light yellow background */
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Poppins', sans-serif; /* New bold font for title */
    font-weight: 700; /* Extra bold */
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Dark text for contrast */
}

/* Subtitle styling */
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center; /* Center align the subtitle */
    color: #444;
}

.page {
    width: 90%;
    max-width: 1200px;
    background-color: #FFF6CC; /* Lighter yellow for the container */
    margin: 40px auto;
    padding: 50px;
    padding-top: 35px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Section container with a lighter background */
.section-container {
    background-color: #FFFAE5; /* Slightly lighter background for each section */
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px; /* Space between sections */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05); /* Subtle shadow */
}

/* Flexbox container for chart and text */
.chart-text-container {
    display: flex;
    justify-content: space-between; /* Ensure even spacing between chart and text */
    align-items: flex-start; /* Align text to the top of chart */
    margin-bottom: 30px; /* Add space between sections */
}

/* Chart styling */
.vis-container {
    width: 70%; 
    padding: 0;
    background-color: transparent;
}

/* Description text styling */
.chart-description {
    width: 30%; /* Adjust the width to ensure enough space between chart and text */
    padding-left: 30px; /* Add more padding to separate the text from the chart */
}

/* Text appearance */
.chart-description p {
    font-size: 16px;
    line-height: 1.5;
    color: #333; /* Darker text for contrast */
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}